ul									{ list-style: none; }

/* 
	LEVEL ONE
*/
ul.dropdown a:hover		            { z-index: 1000; }
ul.dropdown a:active                { color: #ffa500;z-index: 1000; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative;z-index: 1000; }
ul.dropdown li.hover a              { color: black;z-index: 1000; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0;z-index: 1000; }
ul.dropdown ul li 					{ font-weight: normal;
									  float: none;z-index: 1000;
									  padding: 5px; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block;z-index: 1000; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0;z-index: 1000; background: #f6f6f6;}
ul.dropdown li:hover > ul 			{ visibility: visible;z-index: 1000; }

